.vs/CourseWork/v15/Server/sqlite3/db.lock
.vs/CourseWork/v15/Server/sqlite3/storage.ide
.vs/CourseWork/v15/Server/sqlite3/storage.ide-shm
.vs/CourseWork/v15/Server/sqlite3/storage.ide-wal
C:\Users\Alexandr\Proga\NewProga\HSE\Proga\CourseWork\CourseWork\WinFormCourseWork\bin\Debug\DebugHelper
*.debug
.idea/
*.zip
UnitTests/bin/
.vs/
**/bin/
**/obj/
*.DotSettings.user
TestResults
packages